<!doctype html>
<html lang="en" ng-app="mercadapp" ng-cloak>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css">

    <title>Mercadapp!</title>
  </head>
  <body class="bg-light">

    <main role="main" class="container" ng-controller="ItensController">
        <div class="my-3 p-3 bg-white rounded shadow-sm">

            <!-- Image and text -->
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#/" title="Home">
                    <img src="assets/bootstrap/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                    Mercadapp
                </a>
            </nav>
            <br>

            <div class="text-center">
                <h5>Lista de Compras</h5>
            </div>
            <br>
          
            <div class="input-group">
                <input type="text" class="form-control" id="descricao" placeholder="Descrição do Item..." 
                    ng-model="descricao" ng-keydown="$event.keyCode === 13 && adicionar()"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" />
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-primary text-red" type="button" ng-click="adicionar()" title="Adicionar">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <br>
          
          <table class="table text-secondary">    
              <thead class="thead-light">
                  <tr>
                      <th scope="col">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="checkHead" 
                                ng-checked="checkHead" ng-click="trataCheckBoxHead()" >
                              <label class="custom-control-label" for="checkHead"></label>
                          </div>
                      </th>
                      <th scope="col">
                            <a href="" class="text-dark" ng-click="trataShowList()">ITEM </a>
                            <a href="" class="text-dark" ng-click="trataShowList()">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                </svg>
                            </a>
                      </th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in itens track by $index">
                      <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check{{$index}}" 
                                  ng-checked="item.check" ng-click="trataCheckBoxIndex($index)" >
                              <label class="custom-control-label" for="check{{$index}}"></label>
                          </div>
                      </td>
                      <td scope="row">
                          <span ng-if="!item.check">{{ item.descricao }}</span>
                          <span ng-if="item.check"><strike>{{ item.descricao }}</strike></span>
                      </td>
                      <td>
                        <!-- {{ item.check }} -->
                      </td>
                      <td class="text-right">
                          <a href="" ng-click="remover($index)" class="text-secondary">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
          
          <hr>
          <div class="text-center"><p>Feito em HTML5 + Bootstrap + AngularJS-1.x</p></div>
        </div>
    </main>    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular/angular-route.min.js"></script>
    
    <!-- app -->
    <script src="app/app.js"></script>
    <script src="app/itens-controller.js"></script>

  </body>
</html>